:root {
    --primary: #CD1EA7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Kaisei Opti', sans-serif;
    color: #000;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 55px;
    font-weight: 700;
}

.navbar .sosmed a {
    color: #000;
}
.navbar .sosmed a:hover, 
.menulist a:hover, 
footer .social a:hover, 
footer .link a:hover {
    color: #FF8EE6;
}


/* Menu */

.menu {
    position: fixed;
    bottom: 26px;
    z-index: 998;
    left: 50%;
    transform: translateX(-50%);
}
.menulist {
    width: 400px;
    height: 80px;
    border-top: 83px solid var(--primary);
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    text-align: center; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.menulist a {
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    margin: -80px 5px 5px;
    text-decoration: none;
    color: #fff; 
    font-weight: 700; 
    padding: 5px 10px; 
    top: 80px;
}

/* Background */
.background {
    overflow: hidden;
}
.background .line1 {
    width: 1680px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(25.84deg);
    position: absolute;
    top: 550px;
    left: -76px;
    z-index: 1;
    animation: fadeInFromLeftAndRotate 1s ease-out forwards;
    overflow: hidden;
}
.background .line2 {
    width: 2000px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(133.31deg);
    position: absolute;
    top: 570px;
    left: -317px;
    z-index: 3;
    animation: fadeInFromLeftAndRotate2 1.1s ease-out forwards;
    overflow: hidden;
}


.background .line-about1 {
    width: 2000px;
    height: 2px;
    background: linear-gradient(-90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(-30deg);
    position: absolute;
    top: 1777px;
    left: -337px;
    z-index: -1;
    overflow: hidden;
}
.background .line-about2 {
    width: 3000px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(45deg);
    position: absolute;
    top: 1250px;
    left: -1040px;
    z-index: -2;
    overflow: hidden;
}


.background .line-build1 {
    width: 2500px;
    height: 2px;
    background: linear-gradient(-90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(-50deg);
    position: absolute;
    top: 2777px;
    left: -525px;
    z-index: -1;
    overflow: hidden;
}
.background .line-build2 {
    width: 2000px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(20deg);
    position: absolute;
    top: 3000px;
    left: -420px;
    z-index: 1;
    overflow: hidden;
}
.background .line-build3 {
    width: 2500px;
    height: 2px;
    background: linear-gradient(-90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(-45deg);
    position: absolute;
    top: 3999px;
    left: -617px;
    z-index: -1;
    overflow: hidden;
}
.background .line-build4 {
    width: 2000px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(30deg);
    position: absolute;
    top: 4333px;
    left: -350px;
    z-index: -2;
    overflow: hidden;
}
.background .line-build5 {
    width: 2000px;
    height: 2px;
    background: linear-gradient(-90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(-30deg);
    position: absolute;
    top: 4888px;
    left: -337px;
    z-index: -1;
    overflow: hidden;
}




/* Hero */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.home .content {
    text-align: center;
}

.home .content .laba {
    position: relative;
    top: -120px;
}

.home .content .laba img {
    width: 70%;
    display: block;
    margin: 0 auto; 
    opacity: 0.8;
    transform: scale(0.5);
    animation: zoomIn 1s ease-out forwards;
}

.home .content .kafka {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.home .content .kafka h1 {
    font-size: 280px;
    font-weight: 700; 
    white-space: nowrap;
    opacity: 1;
    transform: scale(1.7); 
    animation: zoomOut 1.2s ease-out forwards;
}

.home .content .photo {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

.home .content .photo img {
    width: 85%;
    display: block;
    margin: 0 auto;
    opacity: 1;
    transform: scale(1.5); 
    animation: zoomOutKafka 1.3s ease-out forwards;
}

.home .content .path {
    position: absolute;
    top: 170px; 
    left: 108px; 
    display: flex;
    align-items: center;
    z-index: 3; 
}

.home .content .path img {
    width: 35px;
}

.home .content .path p {
    margin-left: 10px;
}

.home .content .element {
    position: absolute;
    top: 440px; 
    left: -50px; 
    display: flex;
    align-items: center;
    z-index: 3; 
    transform: rotate(-90deg);
}

.home .content .element p {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 30px;
}



/* About */
.about {
    padding: 200px 108px;
}

.about .row, 
.build .row,
.build .relic .row, 
.build .relic .row  .main-stats .row,
.build .lightcone .row {
    display: flex;
    flex-wrap: wrap;
}

.about .row .about-kafka {
    flex: 1 1 720px;
}

.about .row .content {
    flex: 1 1 544px;
    padding: 0 80px;
}

.about .row .about-kafka img, 
.build .row .build-img img {
    width: 60%;
}

.about .row .content h3, 
.build .row .content h3 {
    font-size: 30px;
    margin-buttom: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-style: italic;
}
.about .row .content span, 
.build .row .content span {
    color: var(--primary);
}

.about .row .content p, th {
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.about .row .content th {
    text-align: left;
    padding: 2px 5px;
}




/* Build */
.build {
    padding: 200px 0;
}
.build .row .build-img {
    flex: 1 1 520px;
}
.build .row .content {
    flex: 1 1 520px;
}

.build .row .content .stats  {
    margin-bottom: 30px;
}
.build .row .content .stats table {
    border-collapse: collapse;
}
.build .row .content .stats th {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    padding: 2px 40px;
    border: 1px solid #000;
    background-color: #fff;
}

.build .row .content .stats caption {
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    line-height: 1.6;
    text-align: left;
}


.build .row .content .ascension caption {
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    line-height: 1.6;
}
.build .row .content .ascension img {
    width: 60px;
    margin: 2px 20px;
}


.build .trace caption {
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    line-height: 1.6;
}
.build .trace, 
.build .skill {
    padding: 30px 90px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9D127F;
    color: #fff;
}
.build .trace img, 
.build .skill img {
    width: 70px;
    margin: 2px 30px;
}

.build .relic, 
.build .lightcone {
    padding-top: 70px; 
    align-items: center; 
    text-align: center;
    
}
.build .relic .row .main-stats {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.build .relic .row .sub-stats {
    flex: 1 1 50%;
    background-color: #fff;
}
.build .relic .row .kafka-relic {
    flex: 1 1 50%;
}
.build .relic .row .text {
    flex: 1 1 50%;
}
.build .relic h2, 
.build .lightcone h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    padding-bottom: 50px;
}
.build .relic .row h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 30px;
}
.build .relic .row  .main-stats .row img {
    margin: 2px 30px;
}

.build .relic .row .kafka-relic, 
.build .relic .row .text{
    padding: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.build .relic .row .text p {
    padding: 30px;
}
.build .relic .row .kafka-relic img {
    width: 20%;
}
.build .relic .row .kafka-relic p {
    text-align: center;
}
.line {
    width: 1920px;
    height: 2px;
    background-color: var(--primary);
}


.build .lightcone .row .best {
    flex: 1 1 720px;
    text-align: center;
}
.build .lightcone .row .other {
    flex: 1 1 544px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.build .lightcone .row .best img {
    width: 40%;
}
.build .lightcone .row .other img {
    width: 20%;
}
.build .lightcone .row .best p {
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}
.build .lightcone .row .other .bungkus {
    display: flex;
    flex-wrap: wrap;
}
.build .lightcone .row .other .bungkus p {
    padding: 70px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    
}
.build .line-build1 {
    width: 2500px;
    height: 2px;
    background: linear-gradient(-90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(-50deg);
    position: absolute;
    top: 2777px;
    left: -525px;
    z-index: -1;
}
.build .line-build2 {
    width: 2000px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(20deg);
    position: absolute;
    top: 3000px;
    left: -420px;
    z-index: 1;
}
.build .line-build3 {
    width: 2500px;
    height: 2px;
    background: linear-gradient(-90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(-45deg);
    position: absolute;
    top: 3999px;
    left: -617px;
    z-index: -1;
}
.build .line-build4 {
    width: 2000px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(30deg);
    position: absolute;
    top: 4333px;
    left: -350px;
    z-index: -2;
}
.build .line-build5 {
    width: 2000px;
    height: 2px;
    background: linear-gradient(-90deg, var(--primary) 15%, rgba(205, 30, 167, 0.4) 100%);
    transform: rotate(-30deg);
    position: absolute;
    top: 4888px;
    left: -337px;
    z-index: -1;
}
/* footer */
footer {
    background-color: #9D127F;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}

footer .social {
    padding: 10px;
}

footer .social a {
    color: #fff;
    margin: 20px;
}


footer .link {
    margin-bottom: 10px;
}
footer .link a {
    color: #fff;
    padding: 10px 20px; 
}

footer .credit {
    color: #fff;
}


/* Animation */
@keyframes fadeInFromLeftAndRotate {
    from {
        transform: rotate(25.84deg) translateX(-100%);
    }
    to {
        transform: rotate(25.84deg) translateX(0);
    }
}

@keyframes fadeInFromLeftAndRotate2 {
    from {
        transform: rotate(133.31deg) translateX(-100%);
    }
    to {
        transform: rotate(133.31deg) translateX(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0.3;
    }
    to {
        transform: scale(1);
        opacity: 0.7;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1.7);
        opacity: 0.7;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOutKafka {
    from {
        transform: scale(1.5);
        opacity: 0.8;
    }
    to {
        transform: scale(1);
        opacity: 1;

    }
}


@media (max-width: 480px){
    .navbar .navbar-logo{
        font-size: 30px;
    }
    .menu {
        bottom: 0;
    }
    .menu .menulist {
        border: 0;
        background-color: var(--primary);
    }
    .menu .menulist a {
        margin-top: 10px;
    }
    .home .content .laba img {
        width: 90%;
    }
    .home .content .kafka h1 {
        font-size: 130px;
    }
    .home .content .photo {
        left: 30%;
    }
    .home .content .photo img {
        width: 160%
    }
    .home .content .path {
        top: 90px;
        left: 25px;
    }
    .home .content .path img {
        width: 25px;
    }
    .home .content .element {
        top: 330px;
        left: -110px;
    }
    .home .content .element p {
       letter-spacing: 25px;
    }

    .about {
        padding: 20px 30px;
    }
    .about .row .content {
        padding: 5px 0;
    }
    .about .row .about-kafka img {
        width: 80%;
    }

    .build .row {
        padding: 2px 25px;
    }
    .build .row .content .stats th {
        padding: 2px 12px;
    }
    .build .row .content .ascension img {
        width: 30px;
        margin: 2px 13px;
    }

    .build .trace {
        font-size: 7px;
    }
    .build .trace img {
        width: 20px;
        margin: 2px 10px;
    } 
    .build .skill img {
        width: 30px;
        margin: 2px 13px;
    }

    .build .relic .row .main-stats .row {
        margin: 2px 30px;
    }
    .build .relic .row .sub-stats {
        padding-bottom: 40px;
    }
    .build .relic .row .sub-stats h4 {
        font-size: 18px;
    }
    .build .relic .row .kafka-relic {
        padding: 20px;
    }
    .build .relic .row .kafka-relic img {
        width: 50%;
    }
    .build .relic .row .kafka-relic p {
        font-size: 18px;
    }
    .build .relic .row .text p {
        padding: 2px;
        font-size: 14px;
    }
    .build .lightcone .row .other img {
        width: 40%;
    }
    .build .lightcone .row .other .bungkus p {
    padding: 70px 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    }

    .background .line1,
    .background .line2,
    .background .line-about1,
    .background .line-about2,
    .background .line-build1,
    .background .line-build2,
    .background .line-build3,
    .background .line-build4,
    .background .line-build5 {
        display: none;
    }
}